div{
	display: blok; 
}
*{
	margin: 0;
	padding: 0;
}

/*--區域分色--*/
.grid-1{
	background-color:#ffffff;
	height:100px; 
}
.grid-2{
	background-color:#ffffff;
	height:100px;  
}
.grid-3{
	background-color:#ffffff; 
	height:400px; 
}
.grid-4{
	background-color:#ffffff;
	height:150px;  
}
.grid-5{
	background-color:#ffffff;
	height:150px;  
}
.grid-6{
	background-color:#ffffff;
	height:150px;  
}
.grid-7{
	background-color:#ffffff;
	height:100px;  
}
